<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Spells</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>

            <div class="modal-body">
                <div *ngFor="let spell of championSpells">
                    <img src="http://ddragon.leagueoflegends.com/cdn/7.18.1/img/spell/{{spell.image}}"> {{spell.name}}
                </div>
            </div>
            <!--div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div-->
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-9" *ngIf="champions">
            <div *ngFor="let champions of champions.data | objectKeys">
                
                <img style="vertical-align:middle; float:left;" src="http://ddragon.leagueoflegends.com/cdn/7.18.1/img/champion/{{champions.image.full}}"
                    title="{{champions.name}}, {{champions.title}}" (click)="setChampionImage(champions.id, champions.name, champions.title)">
            </div>
        </div>
        <div class="col-3 sidebar-outer" *ngIf="championData.id">
            <h3>{{championData.name}}, {{championData.title}}</h3>
            <img style="position:fixed" class="img-fluid" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{championData.id}}_0.jpg">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                Launch demo modal
              </button>   

        </div>
    </div>
</div>