<!--div class="container">
    <div class="row">
        <div class="col-9" *ngIf="champions">
            <div *ngFor="let champion of champions.data | objectKeys">
                <img style="vertical-align:middle; float:left;" src="http://ddragon.leagueoflegends.com/cdn/7.17.2/img/champion/{{champion.key}}.png"
                    title="{{champion.name}}, {{champion.title}}" (mouseover)="getClickedId(champion.key)" class="img-thumbnail">
            </div>
        </div>
        <div class="col-3 sidebar-outer" *ngIf="championId">
            <img style="position:fixed" class="img-fluid" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{championId}}_0.jpg">
        </div>
    </div>
</div-->

<div class="container">
    <div class="row">
        <div class="col-9" *ngIf="champions">
            <div *ngFor="let champions of champions.data | objectKeys">
                <img style="vertical-align:middle; float:left;" src="http://ddragon.leagueoflegends.com/cdn/7.17.2/img/champion/{{champions.image.full}}"
                    title="{{champions.name}}, {{champions.title}}" (mouseover)="getClickedId(champions.id, champions.name, champions.title)">
            </div>
        </div>
        <div class="col-3 sidebar-outer" *ngIf="championId">
                <h3>{{championName}}, {{championTitle}}</h3>
            <img style="position:fixed" class="img-fluid" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{championId}}_0.jpg">
           
        </div>
    </div>
</div>
<!-- 
            OrderBy Pipe
            http://ddragon.leagueoflegends.com/cdn/7.17.2/data/en_US/champion/Aatrox.json
            http://ddragon.leagueoflegends.com/cdn/7.17.2/data/en_US/champion.json 
-->