<div class="container">
    <div class="row">
        <div class="col-9" *ngIf="champions">
            <div *ngFor="let champion of champions.data | objectKeys; let n = index"> <!-- OrderBy Pipe -->
                <img style="vertical-align:middle; float:left;" src="http://ddragon.leagueoflegends.com/cdn/7.16.1/img/champion/{{champion.key}}.png"
                    title="{{champion.name}}, {{champion.title}}" (mouseover)="getClickedId(champion.key)"  class="img-thumbnail">
            </div>
        </div>
        <div class="col-3 sidebar-outer">
            <img style="position:fixed" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{championId}}_0.jpg">
        </div>
    </div>
</div>
