<!--div class="container">
  <div *ngFor="let league of leagueData | forRange: 3">
    <div *ngIf="leagueData;then ranked else unranked"></div>

    <ng-template #ranked>
      <img src="assets/img/{{league.tier}}.png" />{{league.name}}{{league.tier}}{{league.queue}}
    </ng-template>

    <ng-template #unranked>
      <img src="assets/img/UNRANKED.png" />
      <p>DATA NOT FOUND</p>
    </ng-template>
   
  </div>
</div-->
<div *ngFor="let league of dummyLeague; let i = index">
  <div *ngIf="league.length != 0; then ranked else unranked"></div>
    <ng-template #ranked>
        <img src="assets/img/{{league.tier}}.png" />{{league.name}}{{league.tier}}{{league.queue}}        
    </ng-template>
    <ng-template #unranked>
        <img src="assets/img/UNRANKED.png" />        
      Unranked
    </ng-template>
</div>
