<!--div *ngFor="let pages of runePages?.pages">
    {{pages.name}}
    <div *ngFor="let slots of pages.slots; let i = index">
        <div *ngIf="pages.slots[i]">
            {{slots.runeId}} {{i}}
        </div>
    </div>
</div-->

<input type="button" (click)="runesCounter()" value="Test">

<!--table class="table table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rune</th>
        </tr>
    </thead>
    <tbody *ngFor="let pages of runePages?.pages; let i = index">
        <tr>
            <td>{{runePages?.pages[i]?.name}}</td>
            <td *ngFor="let pages of runePages?.pages[i]?.slots; let n = index"><img src="http://ddragon.leagueoflegends.com/cdn/7.16.1/img/rune/8001.png"></td>
        </tr>
    </tbody>
</table-->

<!--div class="container">
    <ul>
        <li *ngFor="let pages of runePages?.pages; let i = index">
            {{runePages?.pages[i]?.name}}
            <ul>
                <li *ngFor="let pages of runePages?.pages[i]?.slots; let n = index">
                    <div *ngIf="runePages.pages[i].slots[n].runeId == runePages.pages[i].slots[n].runeId; else otherRune">
                        {{runePages.pages[i].slots[n].runeId}} x {{counter * 5 }}
                    </div>
                    <ng-template #otherRune>
                        {{counter * 0}}
                    </ng-template>
                </li>
            </ul>
        </li>
    </ul>
</div-->