<div *ngIf="runesObject">
    <div *ngFor="let runes of runesObject ">
        <h3> {{runes.name}} </h3>
        <div *ngFor="let r of runes.runes | objectKeys">
            <div *ngFor="let runesProp of runesData.data | objectKeys">
                <div *ngIf="runesProp.propKey == r.propKey">
                    {{runesProp.name}}
                    <img src="http://ddragon.leagueoflegends.com/cdn/7.17.2/img/rune/{{runesProp.image.full}}" title="{{runesProp.description}}"> x {{runes.runes[r.propKey]}} {{runesProp.description}}
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    http://ddragon.leagueoflegends.com/cdn/7.16.1/data/en_US/rune.json
    http://ddragon.leagueoflegends.com/cdn/7.16.1/img/rune/r_1_3.png
    {{runesInfo[r.propKey]}}
      {{runesProp.data}}
      {{r.propKey}} x {{runes.runes[r.propKey]}}
-->