<div *ngIf="runesObject">
    <div *ngFor="let runes of runesObject ">
        <h3> {{runes.name}} </h3>
        <div *ngFor="let r of runes.runes | objectKeys">
            <div *ngFor="let runesProp of runesData.data | objectKeys">
                <div *ngIf="runesProp.propKey == r.propKey">
                    {{runesProp.name}}
                    <img src="http://ddragon.leagueoflegends.com/cdn/7.17.2/img/rune/{{runesProp.image.full}}" title="{{runesProp.description}}"> x {{runes.runes[r.propKey]}} {{runesProp.description}}
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Link with href
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Button with data-target
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-block">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>