<!--div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Welcome</h1>
    <hr class="my-4"/>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Summoner Name" value="" aria-label="Search" #summonerName>
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="profile" (click)="search(summonerName.value)" type="button">Search</button>
    </form>
  </div>
</div>
<div class="container">
  <div>
    <img src="http://placehold.it/1920x1080" class="img-fluid" alt="Responsive image">
  </div>
</div-->


<!-- USEFUL BACKGROUND https://css-tricks.com/perfect-full-page-background-image/
<div class="bg">
    <img src="http://placehold.it/1920x1080" alt="">
  </div>
-->