<div class="container center_div">
  <input class="form-control mr-sm-2" type="text" placeholder="Summoner Name" aria-label="Search" #summonerName>
  <button class="btn btn-outline-success my-2 my-sm-0" routerLink="profile" (click)="search(summonerName.value)" type="button">Search</button>
  <div>
    <img src="http://placehold.it/1920x1080" class="img-fluid" alt="Responsive image">
  </div>
</div>


<!--div class="bg">
  <img src="assets/background.jpg" alt="">
</div-->
<!--img src="http://placehold.it/1920x1080" alt=""-->