<!--div class="container">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Champion</th>
        <th>Lane</th>
        <th>Role</th>
        <th>Season</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody *ngFor="let matches of matchesData?.matches">
      <tr *ngFor="let obj of champions?.data | objectKeys">
        <td *ngIf="matches.champion == obj.id"><img style="vertical-align:middle" src="http://ddragon.leagueoflegends.com/cdn/7.16.1/img/champion/{{obj.key}}.png"></td>
        <td>{{matches.lane}}</td>
        <td>{{matches.role}}</td>
        <td>{{matches.season}}</td>
        <td>{{matches.timestamp | date}}</td>
      </tr>
    </tbody>
  </table>
</div-->

<div class="container">

  <div *ngIf="matchesData">

    <div *ngFor="let matches of matchesData.matches | forRange: 20">
      <div *ngFor="let obj of champions.data | objectKeys">
        <div *ngIf="matches.champion == obj.id">
          <img style="vertical-align:middle" src="http://ddragon.leagueoflegends.com/cdn/7.16.1/img/champion/{{obj.key}}.png">          {{matches.lane}}, {{matches.role}}, {{matches.season}}, {{matches.timestamp | date}}
        </div>
      </div>
    </div>

  </div>
  
</div>