<nav style="z-index: 1" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="profile">Profile </a>
      </li>
      <!--li class="nav-item">
        <a class="nav-link" routerLink="league">Leagues</a>
      </li-->
      <li class="nav-item">
        <a class="nav-link" routerLink="matchhistory">Match History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="champions">Champions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="runes">Runes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="masteries">Masteries</a>
      </li>
    </ul>
    <form *ngIf="nav.visible" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Summoner Name" value="Alainlegend" aria-label="Search" #summonerName>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="search(summonerName.value)" type="button">Search</button>
      <!--       
      <input class="form-control mr-sm-2" [(ngModel)]='sumName' value='sumName' type="text" placeholder="Summoner Name" value="Alainlegend" aria-label="Search" #summonerName>
      <button [disabled]='!sumName' class="btn btn-outline-success my-2 my-sm-0" (click)="search(summonerName.value)" type="button">Search</button>
      -->
    </form>
  </div>
</nav>

<div class="container" style="z-index:2">
  <router-outlet></router-outlet>
</div>