
<div *ngIf="champmData">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <img src="http://ddragon.leagueoflegends.com/cdn/7.17.2/img/profileicon/{{playerData?.profileIconId}}.png">
        </div>
        <div class="col-4">
          <h1 class="display-3">{{playerData.name}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-4" *ngFor="let champm of champmData | forRange: 3">
          <div *ngFor="let champions of champions.data | objectKeys">
            <div *ngIf="champm.championId == champions.key">
              <img style="vertical-align:middle" class="rounded-circle" src="http://ddragon.leagueoflegends.com/cdn/7.17.2/img/champion/{{champions.id}}.png"
                title="{{champm.championPoints}}, {{champm.championLevel}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let league of dummyLeague; let i = index">
      <div *ngIf="league.length != 0; else unranked">

        <div> <img src="assets/img/{{league.tier}}.png" />
          <br>{{league.name}}<br>{{league.tier}}<br>{{league.queue}}
        </div>
      </div>
      <ng-template #unranked>
        <img src="assets/img/UNRANKED.png" /> <br>
        <p class="text-center">UNRANKED</p>
      </ng-template>
    </div>
  </div>
</div>

<!-- https://v4-alpha.getbootstrap.com/components/carousel/ -->