<!--div class="container">
  <div *ngFor="let champm of [0,1,2]; let i = index">
    <div *ngFor="let obj of champions?.data | objectKeys; let n = index">
      <div *ngIf="n < 1">

        <img style="vertical-align:middle" src="http://ddragon.leagueoflegends.com/cdn/7.16.1/img/champion/Blitzcrank.png">
        Champion id: {{champmData[i]?.championId}} Champion Name: {{obj.key}} Champion Points: {{champmData[i]?.championPoints}}
        <span>Works.</span>
        <img src="http://ddragon.leagueoflegends.com/cdn/7.16.1/img/champion/{{obj?.key}}.png">
      </div>
    </div>
  </div>
</div>

<div *ngFor="let obj of champions?.data | objectKeys; let n = index">
  <img style="vertical-align:middle; float:left;" src="http://ddragon.leagueoflegends.com/cdn/7.16.1/img/champion/Blitzcrank.png">

</div-->
<div class="container">

  <!--div *ngFor="let champm of champmData; let i = index">
    Champion Points: {{champmData[i]?.championPoints}} Champion Level: {{champmData[i]?.championLevel}} Champion ID: {{champmData[i]?.championId}}
  </div-->

  <div *ngFor="let obj of champions?.data | objectKeys">
  {{obj.key}}
  </div>
  <!--img style="vertical-align:middle" src="http://ddragon.leagueoflegends.com/cdn/7.16.1/img/champion/Jax.png"-->


</div>